/* .first-img {
    margin-top: -20%;
} */

.title {
    font-size: 100%;
}

:host /deep/ .nextBtn {
    margin-left: 42px!important;
}

.close-location {
    color: red!important;
    font-size: 20px;
}

@media screen and (max-width: 400px) {
    .first-img {
        margin-top: 1%;
    }
    .vertical-stepper {
        margin-left: -15%;
        max-width: 130%!important;
    }
}

small {
    font-size: .6em!important;
}

@media screen and (min-width: 401px) and (max-width: 800px) {
    /* .first-img {
        margin-top: -20%;
    } */
    .close-location {
        font-size: 12px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1600px) {
    /* .first-img {
        margin-top: -10%;
    } */
    .close-location {
        font-size: 16px;
    }
}