<div *ngIf="start == false">
    <h4 class="title text-center">Need home tutor or home tuition? We are here to help.</h4>
    <div fxLayout="column" fxLayoutAlign="space-evenly center" class="text-center">
        <div fxFlex="100" fxFlex.gt-xs="50">
            <div fxLayout="column" fxLayoutAlign="space-evenly center" class="text-center">
                <div fxFlex="100" fxFlex.gt-xs="50">
                    <mat-radio-group [(ngModel)]="type">
                        <mat-radio-button value="1">I am a student/parent.</mat-radio-button><br>
                        <mat-radio-button value="2">I am a tutor/teacher.</mat-radio-button>
                    </mat-radio-group><br>
                    <small *ngIf="error" style="color: red;">
                        {{error}}
                    </small>
                </div>
            </div>
            <img class="first-img" src="assets/images/tutor.png" height="{{data.isMobile == true? data.height - 300 : data.height - 300}}" width="{{data.width < '600'?data.width - 80: 500}}">
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50">
            <button mat-raised-button color="primary" (click)="proceed()">Proceed</button>
        </div>
    </div>
</div>
<div *ngIf="start == true">
    <h4 style="margin-left: 8%;" class="title text-center">{{type == 1? 'Please answer these few questions and we will find best home tutor for you.': 'Please answer these few questions and we will find best home tuition for you.'}}</h4>
    <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="data.isMobile == true">
        <div fxFlex="100" fxFlex.gt-xs="5" class="mobile-view"></div>
        <div fxFlex="100" fxFlex.gt-xs="90" class="vertical-stepper">
            <button mat-raised-button class="yellow nextBtn" (click)="goBack(stepper)" *ngIf="stepper.selectedIndex !== 0" type="button">Back</button>
            <button mat-raised-button class="blue" style="float:right!important;color: #fff!important;" (click)="goForward(stepper)" *ngIf="stepper.selectedIndex !== 2" type="button">Next</button>
            <button mat-raised-button class="blue" style="float:right!important;color: #fff!important;" (click)="goForward(stepper)" *ngIf="stepper.selectedIndex === 2" type="button">Submit</button>
            <mat-vertical-stepper #stepper>
                <mat-step [stepControl]="locationData">
                    <ng-template matStepperIcon="edit">
                        <mat-icon>check</mat-icon>
                    </ng-template>
                    <ng-template matStepLabel>Location Detail's</ng-template>
                    <form [formGroup]="locationData">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Select Your City" formControlName="city">
                                <mat-option *ngFor="let item of cityList | sortBy: 'city_name'" [value]="item.pK">
                                    {{item.city_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input type="text" placeholder="Type and select your location by name or pincode" aria-label="Number" matInput formControlName="location" [matAutocomplete]="auto" [readonly]="!city.value">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option [disabled]="(type == 2)?true:false" *ngFor="let option of filteredOptions; let i = index" [value]="option.location_name+' - '+option.pincode">
                                    <input *ngIf="type == 2" type="checkbox" [checked]="option.checked == true" (change)="locationSelect(option.location_name+' - '+option.pincode)"> <span style="color: #000!important;">{{option.location_name}}&nbsp; - &nbsp;{{option.pincode}}</span>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <small>You Can Skip this field if your location is not listed.</small><br>
                        <div *ngIf="type == 2">
                            <span *ngFor="let item of locationChecked; let i = index">
                                            <button mat-raised-button>{{item}}
                                            </button>
                                            <i class="fa fa-times-circle close-location" (click)="removeLocation(i, item)" aria-hidden="true"></i>  
                                        </span>
                        </div>
                    </form>
                    <!-- <div class="p-1">
                        <button mat-raised-button class="yellow" (click)="start = !start">Back</button>&nbsp;&nbsp;
                    </div>
                    <div class="p-1">
                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div> -->
                </mat-step>
                <mat-step [stepControl]="personalData">
                    <ng-template matStepperIcon="edit">
                        <mat-icon>check</mat-icon>
                    </ng-template>
                    <form [formGroup]="personalData">
                        <ng-template matStepLabel>Personal Detail's</ng-template>
                        <div fxLayout="column" fxLayoutWrap="wrap">
                            <div fxFLex="100" fxFlex.gt-xs="50">
                                <div>
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Full name" formControlName="firstName">
                                    </mat-form-field>
                                </div>
                                <!-- <div>
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Contact number" formControlName="phone">
                                        <div class="text-danger" *ngIf="!phone.valid && phone.touched">
                                            <small *ngIf="phone.errors.minlength || phone.errors.maxlength">
                                                Contact number can only be of 10 digits.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div> -->
                            </div>
                            <div fxFLex="100" fxFlex.gt-xs="50">
                                <div>
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Email" formControlName="email">
                                        <div class="text-danger" *ngIf="!email.valid && email.touched">
                                            <small>
                                                Please provide valid email.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutWrap="wrap" style="margin-top: 1%;">
                                <div fxFlex="100" fxFlex.gt-xs="5" style="text-align: left;">
                                    <div class="icon-holder" style="margin-top: 17%;" [ngStyle]="{'background-color': (phone.valid)?'#FF6600':'#10E7DC'}">
                                        <span class="step-info">1</span>
                                    </div>
                                    <!-- <div class="text-center">
                                        <small class="info-text">Provide mobile number</small>
                                    </div> -->
                                    <div class="icon-holder" style="margin-top: 88%;" [ngStyle]="{'background-color': (otpSentCheck == true)?'#FF6600':'#10E7DC'}">
                                        <span class="step-info">2</span>
                                    </div>
                                    <!-- <div class="text-center">
                                            <small class="info-text">Click Send OTP button.</small>
                                        </div> -->
                                    <div class="icon-holder" style="margin-top: 25%;" [ngStyle]="{'background-color': (otp.value)?'#FF6600':'#10E7DC'}">
                                        <span class="step-info">3</span>
                                    </div>
                                    <!-- <div class="text-center">
                                            <small class="info-text">Provide OTP sent to your mobile.</small>
                                        </div> -->
                                    <div class="icon-holder" style="margin-top: 45%;" [ngStyle]="{'background-color': (verifiedOtp == true)?'#FF6600':'#10E7DC'}">
                                        <span class="step-info">4</span>
                                    </div>
                                    <!-- <div class="text-center">
                                            <small class="info-text">Click Verify button to verify OTP sent.</small>
                                        </div> -->
                                </div>
                                <div fxFlex="100" fxFlex.gt-xs="95">
                                    <div>
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Contact number" formControlName="phone">
                                            <!-- <div class="text-danger" *ngIf="!phone.valid && phone.touched">
                                                <small *ngIf="phone.errors.minlength || phone.errors.maxlength">
                                                            Contact number can only be of 10 digits.
                                                        </small>
                                            </div> -->
                                            <div class="text-success">
                                                <small>
                                                            Please verify your mobile number to proceed.
                                                        </small>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <button mat-raised-button color="primary" style="margin-top: 18%;" [disabled]="!phone.valid || otpSentCheck" (click)="sendOtp()">Send OTP</button>
                                    </div>
                                    <div>
                                        <mat-form-field class="full-width">
                                            <input matInput placeholder="Please Enter OTP" [readonly]="!otpSentCheck || verifiedOtp" formControlName="otp">
                                        </mat-form-field>
                                    </div>
                                    <!-- <div>
                                                <span *ngIf="!hideTimer">OTP expires in 0{{minute}}: {{second}}</span>
                                            </div> -->
                                    <button mat-raised-button color="primary" style="margin-bottom: 10px;" [disabled]="!otp.value || verifiedOtp" (click)="verifyOtp()">Verify OTP</button>
                                    <button mat-raised-button class="yellow" [disabled]="!otpSentCheck || verifiedOtp" (click)="resendOtp()">Resend OTP</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- <div class="p-1">
                        <button mat-raised-button class="yellow" matStepperPrevious>Back</button>&nbsp;&nbsp;
                    </div>
                    <div class="p-1">
                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div> -->
                </mat-step>
                <mat-step [stepControl]="basicDetail">
                    <ng-template matStepperIcon="edit">
                        <mat-icon>check</mat-icon>
                    </ng-template>
                    <ng-template matStepLabel>Academic Detail's</ng-template>
                    <form [formGroup]="basicDetail">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Select Class for which you need tuition" formControlName="grade" [multiple]="type == 2">
                                <mat-option *ngFor="let item of gradeList | sortBy: 'sortorder'" [value]="item.pk">
                                    {{item.grade}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Ask Question?" formControlName="comment">
                        </mat-form-field>
                        <small>You Can Skip this field if you don't have any question.</small>
                    </form>
                    <!-- <div class="p-1">
                        <button mat-raised-button class="yellow" matStepperPrevious>Back</button>&nbsp;&nbsp;
                    </div>
                    <div class="p-1">
                        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
                    </div>
                    <div class="p-1">
                        <button mat-raised-button color="primary" (click)="dialogRef.close(false)" style="background-color: red; color: white;">Cancel</button>
                    </div> -->
                </mat-step>
            </mat-vertical-stepper>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="5" class="mobile-view"></div>
    </div>
    <mat-horizontal-stepper *ngIf="data.isMobile  == false" linear #stepper2>
        <mat-step [stepControl]="locationData">
            <ng-template matStepperIcon="edit">
                <mat-icon>check</mat-icon>
            </ng-template>
            <div class="text-center">
                <img src="assets/images/location.jpg" height="{{data.isMobile == true? data.height - 200 : data.height - 470}}" width="{{data.width < '600'?data.width - 80: 400}}">
            </div>
            <ng-template matStepLabel>Location Detail's</ng-template>
            <form [formGroup]="locationData">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Select Your City" formControlName="city">
                        <mat-option *ngFor="let item of cityList | sortBy: 'city_name'" [value]="item.pK">
                            {{item.city_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input type="text" placeholder="Type and select your location by name or pincode" aria-label="Number" matInput formControlName="location" [matAutocomplete]="auto" [readonly]="!city.value">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option [disabled]="(type == 2)?true:false" *ngFor="let option of filteredOptions; let i = index" [value]="option.location_name+' - '+option.pincode">
                            <input *ngIf="type == 2" type="checkbox" [checked]="option.checked == true" (change)="locationSelect(option.location_name+' - '+option.pincode)"> <span style="color: #000!important;">{{option.location_name}}&nbsp; - &nbsp;{{option.pincode}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <small>You Can Skip this field if your location is not listed.</small><br>
                <div *ngIf="type == 2">
                    <span *ngFor="let item of locationChecked; let i = index">
                                <button mat-raised-button>{{item}}
                                </button>
                                <i class="fa fa-times-circle" style="color: red; font-size: 20px;" (click)="removeLocation(i, item)" aria-hidden="true"></i>  
                            </span>
                </div>
            </form>
            <div class="p-1">
                <button mat-raised-button class="yellow" (click)="start = !start">Back</button>&nbsp;&nbsp;
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="personalData">
            <ng-template matStepperIcon="edit">
                <mat-icon>check</mat-icon>
            </ng-template>
            <div class="text-center">
                <img src="assets/images/personal.jpg" height="{{data.isMobile == true? data.height - 200 : data.height - 600}}" width="{{data.width < '600'?data.width - 80: 400}}">
            </div>
            <form [formGroup]="personalData">
                <ng-template matStepLabel>Personal Detail's</ng-template>
                <div fxLayout="row" fxLayoutWrap="wrap" class="mt-1">
                    <div fxFLex="100" fxFlex.gt-xs="50" class="pr-1">
                        <div>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Full name" formControlName="firstName">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFLex="100" fxFlex.gt-xs="50" class="pr-1">
                        <div>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Email" formControlName="email">
                                <div class="text-danger" *ngIf="!email.valid && email.touched">
                                    <small>
                                        Please provide valid email.
                                    </small>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap" class="mt-1">
                    <div fxFLex="100" fxFlex.gt-xs="25" class="phoneValid">
                        <div class="icon-holder" [ngStyle]="{'background-color': (phone.valid)?'#FF6600':'#10E7DC'}">
                            <span class="step-info">1</span>
                        </div>
                        <div class="text-center">
                            <small class="info-text">Provide mobile number</small>
                        </div>
                    </div>
                    <div fxFLex="100" fxFlex.gt-xs="25" class="phoneValid">
                        <div class="icon-holder" [ngStyle]="{'background-color': (otpSentCheck == true)?'#FF6600':'#10E7DC'}">
                            <span class="step-info">2</span>
                        </div>
                        <div class="text-center">
                            <small class="info-text">Click Send OTP button.</small>
                        </div>
                    </div>
                    <div fxFLex="100" fxFlex.gt-xs="25" class="phoneValid">
                        <div class="icon-holder" [ngStyle]="{'background-color': (otp.value)?'#FF6600':'#10E7DC'}">
                            <span class="step-info">3</span>
                        </div>
                        <div class="text-center">
                            <small class="info-text">Provide OTP sent to your mobile.</small>
                        </div>
                    </div>
                    <div fxFLex="100" fxFlex.gt-xs="25" class="phoneValid">
                        <div class="icon-holder" [ngStyle]="{'background-color': (verifiedOtp == true)?'#FF6600':'#10E7DC'}">
                            <span class="step-info">4</span>
                        </div>
                        <div class="text-center">
                            <small class="info-text">Click Verify button to verify OTP sent.</small>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap" class="mt-1">
                    <div fxFLex="100" fxFlex.gt-xs="25" class="phoneValid">
                        <div>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Contact number" formControlName="phone">
                                <div class="text-danger" *ngIf="!phone.valid && phone.touched">
                                    <small *ngIf="phone.errors.minlength || phone.errors.maxlength">
                                        Contact number can only be of 10 digits.
                                    </small>
                                </div>
                                <div class="text-success" *ngIf="phone.valid && phone.touched">
                                    <small>
                                        Please verify your mobile number to proceed.
                                    </small>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFLex="100" fxFlex.gt-xs="25" class="phoneValid" style="padding-top: 2%;">
                        <div class="text-center">
                            <button mat-raised-button color="primary" [disabled]="!phone.valid || otpSentCheck" (click)="sendOtp()">Send OTP</button>
                        </div>
                    </div>
                    <div fxFLex="100" fxFlex.gt-xs="25" class="phoneValid">
                        <div>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Please Enter OTP" [readonly]="!otpSentCheck || verifiedOtp" formControlName="otp">
                            </mat-form-field>
                        </div>
                        <!-- <div>
                            <span *ngIf="!hideTimer">OTP expires in 0{{minute}}: {{second}}</span>
                        </div> -->
                    </div>
                    <div fxFLex="100" fxFlex.gt-xs="25" class="phoneValidLeft" style="padding-top: 2%;">
                        <button mat-raised-button color="primary" style="margin-right: 6px;" [disabled]="!otp.value || verifiedOtp" (click)="verifyOtp()">Verify OTP</button>
                        <button mat-raised-button class="yellow" [disabled]="!otpSentCheck || verifiedOtp" (click)="resendOtp()">Resend OTP</button>
                    </div>
                </div>
            </form>
            <div class="p-1">
                <button mat-raised-button class="yellow" matStepperPrevious>Back</button>&nbsp;&nbsp;
                <button mat-raised-button color="primary" [disabled]="!verifiedOtp" matStepperNext>Next</button>
                <!-- <button mat-raised-button color="primary" matStepperNext>Next</button> -->
            </div>
        </mat-step>
        <mat-step [stepControl]="basicDetail">
            <ng-template matStepperIcon="edit">
                <mat-icon>check</mat-icon>
            </ng-template>
            <div class="text-center">
                <img src="assets/images/academic.jpg" height="{{data.isMobile == true? data.height - 200 : data.height - 470}}" width="{{data.width < '600'?data.width - 80: 400}}">
            </div>
            <ng-template matStepLabel>Academic Detail's</ng-template>
            <form [formGroup]="basicDetail">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Select Class for which you need tuition" formControlName="grade" [multiple]="type == 2">
                        <mat-option *ngFor="let item of gradeList | sortBy: 'sortorder'" [value]="item.pk">
                            {{item.grade}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Ask anything you want. We are here to help." formControlName="comment">
                </mat-form-field>
                <small>You Can Skip this field if you don't have any question.</small>
            </form>
            <div class="p-1">
                <button mat-raised-button class="yellow" matStepperPrevious>Back</button>&nbsp;&nbsp;
                <button mat-raised-button color="primary" (click)="submit()">Submit</button>
            </div>
            <div class="pb-1" style="margin-top: -5%;">
                <button mat-raised-button (click)="dialogRef.close(false)" style="float: right; background-color: red; color: white;">Cancel</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>