<app-banner-seo [imgUrl]="imgUrl" [title]="textTitle" [city]="city"></app-banner-seo>
<div class="p-1">
    <div fxLayout="{{imgWidth}}" fxLayoutWrap="wrap" class="mt-1">
        <div fxFlex="100" fxFlex.gt-xs="5"></div>
        <div fxFlex="100" fxFlex.gt-xs="90">
            <mat-card class="mb-1">
                <mat-card-title>Home tuition in bangalore</mat-card-title>
                <mat-card-content>
                    <p class="text-justify">
                        Are you searching for home tuition in Bangalore? <br><br>
                        <li class="text">Csquare Education is the right platform for you to connect you with the best private tutor to provide the excellent guidance and education to fulfil your need and requirement. We have expertise in offering home and private tuition
                            for all classes along with private tuitions for competitive examinations too. </li>
                        <li class="text">Our services are offered for the whole city. Our main goal is to provide the high quality and effective tutoring so that students show the improvement in their grades in the result. </li>
                        <li class="text">We provide the best private tuition experiences to the parents and kids by providing the experienced as well as reliable home tuition faculty. Csquare Education is the one stop solution for all your problems.</li>
                        <li class="text">We excel in offering home tuitions for all subjects at your convenient timings. We help parents and students in finding the best home tutor who can guide and teach the students at their home only.</li>
                        <li class="text">Guidance in education is very important as students sometime so not understand which is best for them to help in their studies. In schools, students sometimes hesitate to ask questions. But at the home tuition in their home environment,
                            they don’t feel shy at all and they just clear all their doubts easily.</li>
                        <li class="text">Csquare Education has excellence in home tuition as we provide only highly skilled home tutors who have qualification along with the experience and of course passion for teaching.</li>
                        <li class="text">We provide a wide array of options for the parents and students to select the required home tutor as per their convenience.</li>
                        <li class="text">You will be glad to know that providing tuition is not only single aim of our online portal but to enhance the performance of kids in the class and result is our mission.</li>
                        <li class="text">To get success in our mission, we keep the track of performance of not only but also keep an eye on the performance of home tutor in Bangalore. Each and every private tutor is monitored weekly and monthly.</li>
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="mb-1">
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab label="Services in bangalore">
                            <div fxLayout="{{imgWidth}}" fxLayoutWrap="wrap" class="mt-1 pt-1" style="overflow-y: hidden;">
                                <div fxFlex="100" fxFlex.gt-xs="33" class="p-1">
                                    <mat-card class="mb-1">
                                        <mat-card-title class="service-title">
                                            Home tuition in bangalore for Class I-IV
                                        </mat-card-title>
                                        <mat-card-content>
                                            <img src="assets/images/class1-4.png" class="service-img">
                                            <ul>
                                                <li class="link" class="link">Home tuition for class I in Bangalore</li>
                                                <li class="link">Home tuition for class II in Bangalore</li>
                                                <li class="link">Home tuition for class III in Bangalore</li>
                                                <li class="link">Home tuition for class IV in Bangalore</li>
                                                <li class="link">Home tuition for class I Mathematics in Bangalore</li>
                                                <li class="link">Home tuition for class I Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore1 == 'See Less...'">Home tuition for class I English in Bangalore</li>
                                                <li class="link" *ngIf="readMore1 == 'See Less...'">Home tuition for class II Mathematics in Bangalore</li>
                                                <li class="link" *ngIf="readMore1 == 'See Less...'">Home tuition for class II Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore1 == 'See Less...'">Home tuition for class II English in Bangalore</li>
                                                <li class="link" *ngIf="readMore1 == 'See Less...'">Home tuition for class III Mathematics in Bangalore</li>
                                                <li class="link" *ngIf="readMore1 == 'See Less...'">Home tuition for class III Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore1 == 'See Less...'">Home tuition for class III English in Bangalore</li>
                                                <li class="link" *ngIf="readMore1 == 'See Less...'">Home tuition for class IV Mathematics in Bangalore</li>
                                                <li class="link" *ngIf="readMore1 == 'See Less...'">Home tuition for class IV Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore1 == 'See Less...'">Home tuition for class IV English in Bangalore</li>
                                                <p style="color: #FF6600;" class="para link" (click)="changeButton('1')">
                                                    {{readMore1}}
                                                </p>
                                            </ul>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                <div fxFlex="100" fxFlex.gt-xs="33" class="p-1">
                                    <mat-card class="mb-1">
                                        <mat-card-title class="service-title">
                                            Home tuition in bangalore for Class V-X
                                        </mat-card-title>
                                        <mat-card-content>
                                            <img src="assets/images/class5-10.jpg" class="service-img">
                                            <ul>
                                                <li class="link">Home tuition for class V in Bangalore</li>
                                                <li class="link">Home tuition for class VI in Bangalore</li>
                                                <li class="link">Home tuition for class VII in Bangalore</li>
                                                <li class="link">Home tuition for class VIII in Bangalore</li>
                                                <li class="link">Home tuition for class IX in Bangalore</li>
                                                <li class="link">Home tuition for class X in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class V Mathematics in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class V Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class V Social Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class V English in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class VI Mathematics in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class VI Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class VI Social Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class VI English in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class VII Mathematics in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class VII Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class VII Social Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class VII English in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class VIII Mathematics in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class VIII Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class VIII Social Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class VIII English in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class IX Mathematics in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class IX Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class IX Social Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class IX English in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class X Mathematics in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class X Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class X Social Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore2 == 'See Less...'">Home tuition for class X English in Bangalore</li>
                                                <p style="color: #FF6600;" class="para link" (click)="changeButton('2')">
                                                    {{readMore2}}
                                                </p>
                                            </ul>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                <div fxFlex="100" fxFlex.gt-xs="33" class="p-1">
                                    <mat-card class="mb-1">
                                        <mat-card-title class="service-title">
                                            Home tuition in bangalore for Class XI-XII
                                        </mat-card-title>
                                        <mat-card-content>
                                            <img src="assets/images/class11-12.jpg" class="service-img">
                                            <ul>
                                                <li class="link">Home tuition for class XI in Bangalore</li>
                                                <li class="link">Home tuition for class XII in Bangalore</li>
                                                <li class="link">Home tuition for class XI Mathematics in Bangalore</li>
                                                <li class="link">Home tuition for class XI Physics in Bangalore</li>
                                                <li class="link">Home tuition for class XI Chemistry in Bangalore</li>
                                                <li class="link">Home tuition for class XI Accountancy in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XI Business Studies in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XI Biology in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XI Economics in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XI History in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XI Geography in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XI Political Science in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XII Mathematics in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XII Physics in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XII Chemistry in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XII Accountancy in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XII Business Studies in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XII Biology in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XII Economics in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XII History in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XII Geography in Bangalore</li>
                                                <li class="link" *ngIf="readMore3 == 'See Less...'">Home tuition for class XII Political Science in Bangalore</li>
                                                <p style="color: #FF6600;" class="para link" (click)="changeButton('3')">
                                                    {{readMore3}}
                                                </p>
                                            </ul>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                            <div fxLayout="{{imgWidth}}" fxLayoutWrap="wrap" class="mt-1 pt-1" style="overflow-y: hidden;">
                                <div fxFlex="100" fxFlex.gt-xs="33" class="p-1">
                                    <mat-card class="mb-1">
                                        <mat-card-title class="service-title">
                                            Tuition in bangalore for Competitive Exam
                                        </mat-card-title>
                                        <mat-card-content>
                                            <img src="assets/images/competitive.jpg" class="service-img">
                                            <ul>
                                                <li class="link">Home tuition for Symbiosis Institute of Design Exam</li>
                                                <li class="link" *ngIf="readMore4 == 'See Less...'">Home tuition for Footwear Design and Development Institute Exam</li>
                                                <li class="link">Home tuition for MIT Institute of Design Exam</li>
                                                <li class="link">Home tuition for National Institute of Design Exam</li>
                                                <li class="link" *ngIf="readMore4 == 'See Less...'">Home tuition for National Institute of Fashion Design Exam</li>
                                                <li class="link" *ngIf="readMore4 == 'See Less...'">Home tuition for National Aptitude Test in Architecture Exam</li>
                                                <li class="link" *ngIf="readMore4 == 'See Less...'">Home tuition for Center for Environmental Planning and Technology (CEPT) Exam</li>
                                                <li class="link">Home tuition for CIVIL Services Exam</li>
                                                <li class="link">Home tuition for UPSC Exam</li>
                                                <li class="link">Home tuition for RBI Grade B Exam</li>
                                                <li class="link" *ngIf="readMore4 == 'See Less...'">Home tuition for SBI PO Exam</li>
                                                <li class="link" *ngIf="readMore4 == 'See Less...'">Home tuition for IBPS PO Exam</li>
                                                <li class="link" *ngIf="readMore4 == 'See Less...'">Home tuition for IBPS Specialist Officer Examination</li>
                                                <li class="link" *ngIf="readMore4 == 'See Less...'">Home tuition for SSC CGL Examination</li>
                                                <li class="link" *ngIf="readMore4 == 'See Less...'">Home tuition for Indian Railways Examination</li>
                                                <li class="link" *ngIf="readMore4 == 'See Less...'">Home tuition for LIC AAO Examination</li>
                                                <li class="link" *ngIf="readMore4 == 'See Less...'">Home tuition for IBPS & SBI Clerk Examination</li>
                                                <li class="link" *ngIf="readMore4 == 'See Less...'">Home tuition for Teachers’ Eligibility Test (TET)</li>
                                                <p style="color: #FF6600;" class="para link" (click)="changeButton('4')">
                                                    {{readMore4}}
                                                </p>
                                            </ul>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                <div fxFlex="100" fxFlex.gt-xs="33" class="p-1">
                                    <mat-card class="mb-1">
                                        <mat-card-title class="service-title">
                                            Home tuition in bangalore for Engineering
                                        </mat-card-title>
                                        <mat-card-content>
                                            <img src="assets/images/engineering.jpg" class="service-img">
                                            <ul>
                                                <li class="link">Home tuition for IIT-JEE Exam</li>
                                                <li class="link">Home tuition for BITSAT Exam</li>
                                                <li class="link">Home tuition for COMED-K Exam</li>
                                                <li class="link">Home tuition for IPU-CET (B. Tech) Exam</li>
                                                <li class="link">Home tuition for Manipal (B. Tech) Exam</li>
                                                <li class="link">Home tuition for VITEEE Exam</li>
                                                <li class="link" *ngIf="readMore5 == 'See Less...'">Home tuition for AMU (B. Tech) Exam</li>
                                                <li class="link" *ngIf="readMore5 == 'See Less...'">Home tuition for NDA Entrance with PCM (MPC) Exam</li>
                                                <li class="link" *ngIf="readMore5 == 'See Less...'">Home tuition for All India Engineering Entrance Exam with PCM (MPC)</li>
                                                <li class="link" *ngIf="readMore5 == 'See Less...'">Home tuition for MU OET</li>
                                                <li class="link" *ngIf="readMore5 == 'See Less...'">Home tuition for SRMJEEE</li>
                                                <li class="link" *ngIf="readMore5 == 'See Less...'">Home tuition for MET</li>
                                                <li class="link" *ngIf="readMore5 == 'See Less...'">Home tuition for KIITJEE</li>
                                                <li class="link" *ngIf="readMore5 == 'See Less...'">Home tuition for SIT</li>
                                                <p style="color: #FF6600;" class="para link" (click)="changeButton('5')">
                                                    {{readMore5}}
                                                </p>
                                            </ul>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                <div fxFlex="100" fxFlex.gt-xs="33" class="p-1">
                                    <mat-card class="mb-1">
                                        <mat-card-title class="service-title">
                                            Home tuition in bangalore for Medical
                                        </mat-card-title>
                                        <mat-card-content>
                                            <img src="assets/images/medical.jpg" class="service-img">
                                            <ul>
                                                <li class="link">Home tuition for AIIMS (UG) Exam</li>
                                                <li class="link">Home tuition for CMC-Vellore (UG) Exam</li>
                                                <li class="link">Home tuition for CMC-Ludhiana (UG) Exam</li>
                                                <li class="link">Home tuition for JIPMER (UG) Exam</li>
                                                <li class="link">Home tuition for Manipal (UG) Exam</li>
                                                <li class="link">Home tuition for NEET (UG) Exam</li>
                                                <li class="link" *ngIf="readMore6 == 'See Less...'">Home tuition for NEET (PG) Exam</li>
                                                <li class="link" *ngIf="readMore6 == 'See Less...'">Home tuition for AIIMS (PG) Exam</li>
                                                <li class="link" *ngIf="readMore6 == 'See Less...'">Home tuition for JIPMER (PG) Exam</li>
                                                <li class="link" *ngIf="readMore6 == 'See Less...'">Home tuition for CMC-Vellore (PG) Exam</li>
                                                <li class="link" *ngIf="readMore6 == 'See Less...'">Home tuition for CMC-Ludhiana (PG) Exam</li>
                                                <li class="link" *ngIf="readMore6 == 'See Less...'">Home tuition for Manipal (PG) Exam</li>
                                                <li class="link" *ngIf="readMore6 == 'See Less...'">Home tuition for AFMC Exam</li>
                                                <p style="color: #FF6600;" class="para link" (click)="changeButton('6')">
                                                    {{readMore6}}
                                                </p>
                                            </ul>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Customer's review in bangalore">
                            <div #tab2 class="mt-1">
                                <div *ngFor="let item of data" fxLayout="{{imgWidth}}" fxLayoutWrap="wrap" class="pt-1">
                                    <div fxFlex="100" fxFlex.gt-xs="5"></div>
                                    <div fxFlex="100" fxFlex.gt-xs="20" class="text-center">
                                        <img src="{{item.url}}" class="review-img">
                                    </div>
                                    <div fxFlex="100" fxFlex.gt-xs="10" class="text-center">
                                        <h4>{{item.name}}</h4>
                                        <h4>Experience: {{item.exp}}</h4>
                                        <div class="star mb-1">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </div>
                                        <a href="tel:+91-78-9934-2386"><i class="fa fa-phone-square fa-2x secondary-color" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                        <a href="mailto:csquarebangalore@gmail.com"><i class="fa fa-envelope fa-2x secondary-color" aria-hidden="true"></i></a>
                                    </div>
                                    <div fxFlex="100" fxFlex.gt-xs="5"></div>
                                    <div fxFlex="100" fxFlex.gt-xs="55">
                                        <div id="talkbubble">
                                            <p style="text-align:justify;"> {{item.desp}}</p>
                                        </div>
                                    </div>
                                    <div fxFlex="100" fxFlex.gt-xs="5"></div>
                                    <mat-divider></mat-divider>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Frequently asked questions">
                            <div #tab3>
                                <div fxLayout="row" fxLayoutWrap="wrap" class="mb-1">
                                    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
                                    <div fxFlex="100" fxFlex.gt-xs="80">
                                        <h1 class="title text-center">Frequently Asked Questions?</h1>
                                        <div fxLayout="row" fxLayoutWrap="wrap">
                                            <div fxFlex="100" fxFlex.gt-xs="30" class="mobile-view"></div>
                                            <div fxFlex="100" fxFlex.gt-xs="40">
                                                <mat-form-field class="full-width">
                                                    <input matInput placeholder="Please Enter Your Question!" [(ngModel)]="search" (input)="valuechange()">
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex="100" fxFlex.gt-xs="30" class="mobile-view"></div>
                                        </div>
                                        <mat-accordion *ngFor="let item of faqList; let i = index" [attr.data-index]="i">
                                            <mat-expansion-panel *ngIf="i <= 49" class="mb-1" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        <h5>{{item.Question}}</h5>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>

                                                <p style="text-align: justify;">
                                                    {{item.Answer}}
                                                </p>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="5"></div>
    </div>
</div>
<!-- <div fxLayout="{{imgWidth}}" fxLayoutWrap="wrap" class="p-1">
    <div fxFlex="100" fxFlex.gt-xs="5"></div>
    <div fxFlex="100" fxFlex.gt-xs="90">
        <mat-card>
            <mat-card-content>
                <div fxLayout="{{imgWidth}}" fxLayoutWrap="wrap">
                    <div fxFlex="100" fxFlex.gt-xs="33">
                        <h4 class="text-center">Home tuition in bangalore location wise</h4>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="33">
                        <h4 class="text-center">Home tuition in bangalore location wise</h4>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="33">
                        <h4 class="text-center">Home tuition in bangalore location wise</h4>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="5"></div>
</div> -->
<div id="tab_2">
    <div *ngFor="let item of data" fxLayout="{{imgWidth}}" fxLayoutWrap="wrap" class="pt-1 mt-1">
        <div fxFlex="100" fxFlex.gt-xs="5"></div>
        <div fxFlex="100" fxFlex.gt-xs="20" class="text-center">
            <img src="{{item.url}}" class="review-img">
        </div>
        <div fxFlex="100" fxFlex.gt-xs="10" class="text-center">
            <h4>{{item.name}}</h4>
            <h4>Experience: {{item.exp}}</h4>
            <div class="star mb-1">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <a href="tel:+91-78-9934-2386"><i class="fa fa-phone-square fa-2x secondary-color" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <a href="mailto:csquarebangalore@gmail.com"><i class="fa fa-envelope fa-2x secondary-color" aria-hidden="true"></i></a>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="5"></div>
        <div fxFlex="100" fxFlex.gt-xs="55">
            <div id="talkbubble">
                <p style="text-align:justify;"> {{item.desp}}</p>
            </div>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="5"></div>
        <mat-divider></mat-divider>
    </div>
</div>
<div id="tab_3">
    <div *ngFor="let item of faqList; let i = index" [attr.data-index]="i">
        <p>
            {{item.Question}}
        </p>
        <p>
            {{item.Answer}}
        </p>
    </div>
</div>