.img1 {
    background-image: url("/assets/tutor-parents/lovely.jpg");
    margin-left: 20%;
}

.img2 {
    background-image: url("/assets/tutor-parents/Rahul.jpg");
    margin-left: 20%;
}

.img3 {
    background-image: url("/assets/tutor-parents/Prasu.jpg");
    margin-left: 20%;
}

.tag {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.mat-divider {
    color: rgb(221, 220, 220)!important;
    border-top-color: rgb(221, 220, 220)!important;
}

ul {
    list-style: square;
}

.blue {
    background-color: rgb(210, 212, 212);
}

.profile-link {
    color: #fff;
    font-size: 2vw;
    padding: 5%;
    cursor: pointer;
}

.profile-link:hover {}

.profile-name,
.para,
.tag {
    color: #000!important;
}

.magrin-sub {
    margin-top: -3.6%;
}

.magrin-sub2 {
    margin-top: -2.3%;
}

.magrin-sub3 {
    margin-top: -3.3%;
}

.para {
    font-size: 1vw!important;
    font-weight: 500;
}

.icon-holder {
    margin-left: 0%;
}

.icon-holder-img {
    margin-top: 19%;
    margin-left: -44%;
}

@media (max-width: 600px) {
    .para {
        font-size: 3.5vw!important;
    }
    .img1 {
        margin-left: 32%;
    }
    .img2 {
        margin-left: 32%;
    }
    .img3 {
        margin-left: 32%;
    }
    .pb-1 .icon-holder {
        margin-left: 25%;
    }
    .icon-holder {
        margin-left: -2%!important;
    }
    .icon-holder-img {
        margin-top: 22%;
        margin-left: -21%;
        font-size: 40px!important;
    }
    .profile-link {
        font-size: 5.5vw;
    }
    .magrin-sub {
        margin-top: 0%;
    }
    .magrin-sub2 {
        margin-top: 0%;
    }
    .magrin-sub3 {
        margin-top: 0%;
    }
}