<app-banner-top [imgUrl]="imgUrl" [textTitle]="textTitle"></app-banner-top>
<div fxLayout="{{imgWidth}}" fxLayoutAlign="space-evenly center" class="mb-1">
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
    <div fxFlex="100" fxFlex.gt-xs="80">
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="10px" class="{{padding}}">
            <div fxFlex="100" fxFlex.gt-xs="45">
                <div class="pb-1">
                    <div class="icon-holder">
                        <mat-icon class="icon-holder-img">my_location</mat-icon>
                    </div>
                    <h2 class="title">Our mission</h2>
                    <p class="sub-title text-justify">
                        Our sole purpose is to provide quality education where student are not just made to read or study rather they are encouraged to learn. There is a huge differnece between studing and learning which people now-a-days don't understand well, it's just like
                        difference in seeing something and observing something. We are bond to change this education culture in India. We at CsquareEducation throughly monitor students progress and provide guidence accordingly. Moreover we are providing
                        detail's to parent's of student's progress so that they too can help student's in their growth.
                    </p>
                </div>

                <div class="pb-1">
                    <div class="icon-holder">
                        <mat-icon class="icon-holder-img">security</mat-icon>
                    </div>
                    <h2 class="title">Our promise</h2>
                    <p class="sub-title text-justify">
                        CsquareEducation use an expertly developed curriculum refined over the years to give every student skills and confidence for the next step in their life. We are providing tuition's to student's from Kindergarten to Higer Education, so that we can cover
                        almost each and every student in this country. We are also providing tutor jobs as both part time and full time for student's as well as professionals so that we can make a huge difference in long term. And we try to help them
                        by all possible ways we can.


                    </p>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
            <div fxFlex="100" fxFlex.gt-xs="45">
                <div class="pb-1">
                    <div class="icon-holder">
                        <mat-icon class="icon-holder-img">visibility</mat-icon>
                    </div>
                    <h2 class="title">Our vision</h2>
                    <p class="sub-title text-justify">
                        We are looking to create an environment in India which will make student's know their strength and weekness so that they are clear about their goal or vision what they really wanna do. In India most of the student don't even know why they are opting for
                        science or commerce or arts after their Class 10 exam. We are trying to kill these culture of education where education has such less option. Einstein quoted, "Everybody is a Genius. But If You Judge a Fish by Its Ability to Climb
                        a Tree, It Will Live It's Whole Life Believing that It is Stupid."
                    </p>
                </div>

                <div class="pb-1">
                    <div class="icon-holder">
                        <mat-icon class="icon-holder-img">golf_course</mat-icon>
                    </div>
                    <h2 class="title">Our vibe</h2>
                    <p class="sub-title text-justify">
                        It starts with our passion for what we do, and the tremendous respect we share for each person who works at CsquareEducation. We want our customers to have great experiences, so we surround ourselves with the most talented and committed team members we
                        can to make sure that happens every day. We thrive on meeting new challenges and exceeding expectations at every opportunity, and it’s this can do spirit that has fueled our growth and helped us to be recognized.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
</div>
<div class="blue mb-3">
    <h2 class="text-center pt-1">How We Work.</h2>
    <h5 class="tag text-center">Small team working on big challenges in honest collaboration with our clients. </h5>
    <div fxLayout="{{imgWidth}}" fxLayoutAlign="space-evenly center" class="mt-1">
        <div fxFLex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
        <div fxFLex="100" fxFlex.gt-xs="80" class="mt-3">
            <div fxLayout="{{imgWidth}}" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
                <div fxFlex="100" fxFLex.gt-xs="33">
                    <h5 class="tag text-center">Small Teams </h5>
                </div>
                <div fxFlex="100" fxFLex.gt-xs="33">
                    <div class="pb-1">
                        <div class="icon-holder yellow">
                            <mat-icon class="icon-holder-img">group_add</mat-icon>
                        </div>
                    </div>
                </div>
                <div fxFlex="100" fxFLex.gt-xs="33">
                    <div class="tag text-justify">
                        <ul>
                            <li> We help innovate, develop, and pioneer.</li>
                            <li> We're an award-winning team that transforms ideas into great experiences.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="{{imgWidth}}" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
                <div fxFlex="100" fxFLex.gt-xs="33">
                    <h5 class="tag text-center">Small Teams </h5>
                </div>
                <div fxFlex="100" fxFLex.gt-xs="33">
                    <h5 class="tag text-center">Small Teams </h5>
                </div>
                <div fxFlex="100" fxFLex.gt-xs="33">
                    <h5 class="tag text-center">Small Teams </h5>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="{{imgWidth}}" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
                <div fxFlex="100" fxFLex.gt-xs="33">
                    <h5 class="tag text-center">Small Teams </h5>
                </div>
                <div fxFlex="100" fxFLex.gt-xs="33">
                    <h5 class="tag text-center">Small Teams </h5>
                </div>
                <div fxFlex="100" fxFLex.gt-xs="33">
                    <h5 class="tag text-center">Small Teams </h5>
                </div>
            </div>
        </div>
        <div fxFLex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
    </div>
</div>
<h2 class="title">Our Team</h2>
<div fxLayout="{{imgWidth}}" fxLayoutAlign="space-evenly center" class="mt-1 pt-1 mb-3">
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
    <div fxFlex="100" fxFlex.gt-xs="25" class="{{padding}}">
        <div class="hexagon img1">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
        </div>
        <mat-card class="profile blue">
            <mat-card-content>
                <h5 class="profile-name mb-0">Lovely Singh</h5>
                <p class="tag mt-0 text-center">
                    Director, Co-Founder
                </p>
                <p class="para text-justify">
                    Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                </p>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="5" class="mobile-view"></div>
    <div fxFlex="100" fxFlex.gt-xs="25" class="{{padding}}">
        <div class="hexagon img2">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
        </div>
        <mat-card class="profile blue">
            <mat-card-content>
                <h5 class="profile-name mb-0">Rahul Singh</h5>
                <p class="tag mt-0 text-center">
                    Developer & Designer
                </p>
                <p class="para text-justify">
                    A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                </p>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="5" class="mobile-view"></div>
    <div fxFlex="100" fxFlex.gt-xs="25" class="{{padding}}">
        <div class="hexagon img3">
            <div class="hexTop"></div>
            <div class="hexBottom"></div>
        </div>
        <mat-card class="profile blue">
            <mat-card-content>
                <h5 class="profile-name mb-0">Shreyash Prashu</h5>
                <p class="tag mt-0 text-center">
                    Developer
                </p>
                <p class="para text-justify">
                    The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                </p>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
</div>