.contact {
    padding-top: 10px;
    padding-left: 10px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1vw;
    position: fixed;
    z-index: 99;
    background-color: rgb(248, 141, 70);
    width: 100%;
    line-height: 1.5;
}

.navbar {
    margin-top: 2.7em;
    border: 0;
    font-size: 14px;
    transition: all .4s;
    -webkit-transition: all .4s;
    height: 5.7em;
    -webkit-box-shadow: 0 10px 25px -8px rgba(0, 0, 0, .15);
    box-shadow: 0 10px 25px -8px rgba(0, 0, 0, .15);
    color: #fff;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    //padding: .5rem 1rem;
    padding-top: 20px;
}

.collapse ul {
    list-style: none;
    display: flex;
}

.nav-item {
    text-decoration: none!important;
    color: #fff;
    font-weight: 400;
    display: flex;
}

.nav-link {
    text-decoration: none!important;
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding-right: 12px;
    font-size: 1vw;
    font-weight: 500;
    height: 41px;
    padding-top: 15px;
}

#logo {
    position: relative;
    margin-left: -12%;
}

#logo-head {
    width: 130px;
    margin-left: -5px;
}

.thread {
    display: inline-block;
    width: 2px;
    height: 180px;
    background: #FF6600;
    border-radius: 5px;
    position: relative;
    left: 20;
    transform-origin: 50% 0;
    animation: moveIt 2.5s ease-in-out infinite;
    z-index: -1;
}

.pendulum {
    margin-top: 10em;
}

.navbar-brand {
    margin-left: -9.5em;
}

@keyframes moveIt {
    0%,
    100% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
}

.nav-item:hover {
    border-bottom: 4px solid #FF6600;
}

// Footer
.footer {
    color: #fff;
    line-height: 1.5;
    margin-top: 2em;
}

.footer-img {
    margin-bottom: -2%;
}

.footer-text {
    color: #fff;
    font-size: 2vw;
    font-weight: 600;
}

.footer-link {
    list-style: none;
    font-size: 1vw;
    font-weight: 600;
}

.footer-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.social {
    padding: 8px;
    color: #fff!important;
    font-size: 3vw;
}

.fa:hover {
    animation: w3-spin 0.7s 1 linear !important;
}

.heart {
    color: red !important;
    animation: beat .25s infinite alternate;
    transform-origin: center;
}

@keyframes w3-spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}

@keyframes beat {
    to {
        transform: scale(1.4);
    }
}

@media(max-width: 600px) {
    .mobile {
        font-size: 8px !important;
        display: flex;
        width: 129%;
    }
    .nav-link {
        font-size: 1.5vw;
    }
    .footer-link {
        font-size: 5vw;
    }
    .footer-img {
        margin-bottom: 2%;
    }
    .copyright {
        font-size: 3vw;
    }
    .contact {
        font-size: 5.4vw;
        display: flex;
        padding: 0;
    }
    .contact a {
        text-decoration: none!important;
    }
    .thread {
        height: 350px;
        margin-top: -3em;
    }
    .footer-text {
        font-size: 3vw;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow: hidden!important;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.float-btn-menu {
    border: 1px solid #d4d4d452!important;
    margin-bottom: 0px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 9%;
    transition: 0.3s ease;
}

.float-btn-menu:hover {
    box-shadow: 2px 2px #ccc;
}

.sidenav .socail-icon {
    display: inline-block!important;
}

.sidenav a:hover {
    color: #0074E1;
}

.phoneNo {
    z-index: 999!important;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.phoneNo {
    z-index: 999!important;
    background-color: #69db4b;
    text-align: center;
    padding-top: 3%;
}

.phoneNo:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}