<div class="page-header">
    <img src="assets/images/banner.jpg" class="banner-img">
    <div class="overlay">
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pb-1">
            <div fxFlex="100">
                <span id="1">H</span>
                <span id="2">O</span>
                <span id="3">M</span>
                <span id="4">E</span>&nbsp;&nbsp;
                <span id="5">T</span>
                <span id="6">U</span>
                <span id="7">I</span>
                <span id="8">T</span>
                <span id="9">I</span>
                <span id="10">O</span>
                <span id="11">N</span>&nbsp;&nbsp;
                <span id="12">A</span>
                <span id="13">N</span>
                <span id="14">D</span>&nbsp;&nbsp;
                <span id="15">T</span>
                <span id="16">U</span>
                <span id="17">T</span>
                <span id="18">O</span>
                <span id="19">R</span>&nbsp;&nbsp;
                <span id="20">A</span>
                <span id="21">T</span>&nbsp;&nbsp;
                <span id="22">D</span>
                <span id="23">O</span>
                <span id="24">O</span>
                <span id="25">R</span>&nbsp;&nbsp;
                <span id="26">S</span>
                <span id="27">T</span>
                <span id="28">E</span>
                <span id="29">P</span>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pb-1">
            <div fxFlex="100">
                <h2 id="h2">Get Best Home Tuition/ Home Tutor at door step without any trouble.</h2>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pb-1">
            <div fxFlex="100">
                <a role="button" class="alert" (click)="lead()"><small>{{mainButton}}</small></a>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pb-1">
            <div fxFlex="100" class="mobile-view">
                <ngu-carousel [inputs]="carouselOne">
                    <ngu-item NguCarouselItem>
                        <h3>CsquareEducation is providing home tuition from various range. CsquareEducation provides flexible range to select home tutor or tuition teacher for their kids. </h3>
                    </ngu-item>
                    <ngu-item NguCarouselItem>
                        <h3>CsquareEducation provides flexibility to replace your home tutor/private tutor at any time if you’re not satisfied with the way of teaching of current tutor.</h3>
                    </ngu-item>
                    <ngu-item NguCarouselItem>
                        <h3>Many of us need female tutor/ teacher for our kid’s as they handle kid’s in better way and they understand them in better way.</h3>
                    </ngu-item>
                    <ngu-item NguCarouselItem>
                        <h3>Csquareeducation do documents verification for all their home tutor or tuition teacher. Every aspects of recruitment process is well verified.</h3>
                    </ngu-item>
                    <button NguCarouselPrev class='leftRs'>Previous</button>
                    <button NguCarouselNext class='rightRs'>Next</button>
                </ngu-carousel>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pb-1">
            <div fxFlex="100">
                <button class="alert" id="icon" (click)="scrollElement(container1,500)">
                <mat-icon>expand_more</mat-icon>
              </button>
            </div>
        </div>
    </div>
</div>
<div class="container1" #container1>

</div>