h3,
span {
    font-size: 3vw;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    letter-spacing: .1rem;
    margin-bottom: 1px;
}

h4 {
    color: #fff;
}

.leftRs {
    display: none!important;
}

.rightRs {
    display: none!important;
}

:host /deep/ .mat-icon {
    margin-top: 4px;
    margin-left: -15px;
    font-size: 40px;
    font-weight: 600;
    color: #000;
}

#icon {
    border-radius: 50%!important;
    padding: 0px!important;
    height: 60px;
    width: 60px;
}

:host /deep/ .alert:hover {
    .mat-icon {
        color: #fff;
    }
}

.border-button {
    border: 4px solid #FF6600;
}

@media screen and (max-width: 600px) {
    span {
        font-size: 3.5vw;
        font-weight: 500;
    }
    small {
        font-size: 1.4em;
        font-weight: bold;
        padding: 10px 10px 10px 10px;
    }
    #h2 {
        margin-top: 9%;
        margin-bottom: 7%;
        margin-left: 11%;
        margin-right: 13%;
        font-size: 74%!important;
    }
    button {
        margin-bottom: 10%;
    }
    h1 {
        font-size: 217%!important;
        margin-bottom: 1px!important;
    }
    h3 {
        font-size: 4vw!important;
    }
}

@media screen and (min-width: 600px) and (max-width: 1500px) {
    span {
        font-size: 4vw;
    }
}