<div class="page-header">
    <img data-src="assets/images/banner5.jpg" class="banner-img" style="margin-top: 1%;" />
    <!-- <img data-src="assets/images/banner5.jpg" class="banner-img" style="margin-top: 1%;"> -->
    <div class="overlay">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <div fxFlex="100">
                <div *ngIf="width == false">
                    <h3 #a>H</h3>
                    <h3 #b>O</h3>
                    <h3 #c>M</h3>
                    <h3 #d>E</h3>&nbsp;&nbsp;
                    <h3 #e>T</h3>
                    <h3 #f>U</h3>
                    <h3 #g>I</h3>
                    <h3 #h>T</h3>
                    <h3 #i>I</h3>
                    <h3 #j>O</h3>
                    <h3 #k>N</h3>&nbsp;&nbsp;
                    <h3 #l>A</h3>
                    <h3 #m>N</h3>
                    <h3 #n>D</h3>&nbsp;&nbsp;
                    <h3 #o>T</h3>
                    <h3 #p>U</h3>
                    <h3 #q>T</h3>
                    <h3 #r>O</h3>
                    <h3 #s>R</h3>&nbsp;&nbsp;
                    <h3 #t>A</h3>
                    <h3 #u>T</h3>&nbsp;&nbsp;
                    <h3 #v>D</h3>
                    <h3 #w>O</h3>
                    <h3 #x>O</h3>
                    <h3 #y>R</h3>&nbsp;&nbsp;
                    <h3 #z>S</h3>
                    <h3 #aa>T</h3>
                    <h3 #bb>E</h3>
                    <h3 #cc>P</h3>
                </div>
                <div *ngIf="width == true">
                    <h1>CsquareEducation</h1>
                    <h3>A step towards learning!</h3>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pb-1">
            <div fxFlex="100">
                <h2 id="h2">Get Best Home Tuition/ Home Tutor at door step without any trouble.</h2>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pb-1">
            <div fxFlex="100">
                <a role="button" class="alert" (click)="lead()"><small>{{mainButton}}</small></a>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pb-1">
            <div fxFlex="100">
                <div *ngIf="width == false">
                    <ngu-carousel [inputs]="carouselOne">
                        <ngu-item NguCarouselItem>
                            <h4>CsquareEducation is providing home tuition from various range. CsquareEducation provides flexible range to select home tutor or tuition teacher for their kids. </h4>
                        </ngu-item>
                        <ngu-item NguCarouselItem>
                            <h4>CsquareEducation provides flexibility to replace your home tutor/private tutor at any time if you’re not satisfied with the way of teaching of current tutor.</h4>
                        </ngu-item>
                        <ngu-item NguCarouselItem>
                            <h4>Many of us need female tutor/ teacher for our kid’s as they handle kid’s in better way and they understand them in better way.</h4>
                        </ngu-item>
                        <ngu-item NguCarouselItem>
                            <h4>Csquareeducation do documents verification for all their home tutor or tuition teacher. Every aspects of recruitment process is well verified.</h4>
                        </ngu-item>
                        <button NguCarouselPrev class='leftRs'>Previous</button>
                        <button NguCarouselNext class='rightRs'>Next</button>
                    </ngu-carousel>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pb-1">
            <div fxFlex="100">
                <button class="alert" id="icon" (click)="scrollElement(container1,500)">
                <mat-icon>expand_more</mat-icon>
              </button>
            </div>
        </div>
    </div>
</div>
<div class="container1" #container1>

</div>