<div class="page-header">
    <img data-src="assets/images/banner5.jpg" class="banner-img" style="margin-top: 1%;" />
    <!-- <img data-src="assets/images/banner5.jpg" class="banner-img" style="margin-top: 1%;"> -->
    <div class="overlay">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <div fxFlex="100">
                <div *ngIf="width == false">
                    <span #a>H</span>
                    <span #b>O</span>
                    <span #c>M</span>
                    <span #d>E</span>&nbsp;&nbsp;
                    <span #e>T</span>
                    <span #f>U</span>
                    <span #g>I</span>
                    <span #h>T</span>
                    <span #i>I</span>
                    <span #j>O</span>
                    <span #k>N</span>&nbsp;&nbsp;
                    <span #l>A</span>
                    <span #m>N</span>
                    <span #n>D</span>&nbsp;&nbsp;
                    <span #o>T</span>
                    <span #p>U</span>
                    <span #q>T</span>
                    <span #r>O</span>
                    <span #s>R</span>&nbsp;&nbsp;
                    <span #t>A</span>
                    <span #u>T</span>&nbsp;&nbsp;
                    <span #v>D</span>
                    <span #w>O</span>
                    <span #x>O</span>
                    <span #y>R</span>&nbsp;&nbsp;
                    <span #z>S</span>
                    <span #aa>T</span>
                    <span #bb>E</span>
                    <span #cc>P</span>
                </div>
                <div *ngIf="width == true">
                    <h1>CsquareEducation</h1>
                    <h3>A step towards learning!</h3>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pb-1">
            <div fxFlex="100">
                <h2 id="h2">Get Best Home Tuition/ Home Tutor at door step without any trouble.</h2>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pb-1">
            <div fxFlex="100">
                <a role="button" class="alert" (click)="lead()"><small>{{mainButton}}</small></a>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pb-1">
            <div fxFlex="100">
                <div *ngIf="width == false">
                    <ngu-carousel [inputs]="carouselOne">
                        <ngu-item NguCarouselItem>
                            <h4>CsquareEducation is providing home tuition from various range. CsquareEducation provides flexible range to select home tutor or tuition teacher for their kids. </h4>
                        </ngu-item>
                        <ngu-item NguCarouselItem>
                            <h4>CsquareEducation provides flexibility to replace your home tutor/private tutor at any time if you’re not satisfied with the way of teaching of current tutor.</h4>
                        </ngu-item>
                        <ngu-item NguCarouselItem>
                            <h4>Many of us need female tutor/ teacher for our kid’s as they handle kid’s in better way and they understand them in better way.</h4>
                        </ngu-item>
                        <ngu-item NguCarouselItem>
                            <h4>Csquareeducation do documents verification for all their home tutor or tuition teacher. Every aspects of recruitment process is well verified.</h4>
                        </ngu-item>
                        <button NguCarouselPrev class='leftRs'>Previous</button>
                        <button NguCarouselNext class='rightRs'>Next</button>
                    </ngu-carousel>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center" class="pb-1">
            <div fxFlex="100">
                <button class="alert" id="icon" (click)="scrollElement(container1,500)">
                <mat-icon>expand_more</mat-icon>
              </button>
            </div>
        </div>
    </div>
</div>
<div class="container1" #container1>

</div>