<div fxLayout="row" fxLayoutWrap="wrap" class="mb-1">
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
    <div fxFlex="100" fxFlex.gt-xs="80">
        <h1 class="title text-center">Frequently Asked Questions?</h1>
        <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex="100" fxFlex.gt-xs="30" class="mobile-view"></div>
            <div fxFlex="100" fxFlex.gt-xs="38" class="mobile-view">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Please Enter Your Question!" [(ngModel)]="search" (input)="valuechange()">
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="98" *ngIf="screenWidth == true">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Please Enter Your Question!" [(ngModel)]="search" (input)="valuechange()">
                </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="2" class="mobile-view">
                <i *ngIf="search" (click)="clear()" class="material-icons" style="margin-top: 88%;cursor: pointer;z-index: 999;">close</i>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="30" class="mobile-view"></div>
        </div>
        <mat-accordion *ngFor="let item of faqList; let i = index" [attr.data-index]="i">
            <mat-expansion-panel class="mb-1" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h5>{{item.Question}}</h5>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p style="text-align: justify;">
                    {{item.Answer}}
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
</div>
<div>
    <div *ngFor="let item of allData; let i = index" [attr.data-index]="i">
        <div class="show">
            {{item.Question}}: "{{item.Answer}}"
        </div>
    </div>
</div>