.show {
    /* display: none; */
    opacity: 0;
    /* margin-bottom: -6.7%!important; */
    height: 0px!important;
}

:host /deep/ .mat-expansion-panel-content {
    font: 400 13px/18px 'Raleway', sans-serif!important;
}