<app-banner-top [imgUrl]="imgUrl" [textTitle]="textTitle"></app-banner-top>
<div fxLayout="{{imgWidth}}" fxLayoutAlign="space-evenly center" class="mb-1">
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
    <div fxFlex="100" fxFlex.gt-xs="80">
        <div fxLayout="{{imgWidth}}" fxLayoutAlign="space-evenly center" class="mb-1">
            <div fxFlex="100" fxFlex.gt-xs="33">
                <mat-card #questionCard class="question-card text-center" (mouseenter)="test()" (mouseleave)="test2()">
                    <mat-card-content>
                        <div class="flip-box">
                            <div class="flip-box-inner">
                                <div class="flip-box-front">
                                    <h2>CBSE</h2>
                                    <p>What an amazing city</p>
                                </div>
                                <div class="flip-box-back">
                                    <h2>Paris</h2>
                                    <p>What an amazing city</p>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="33">
                <mat-card class="question-card text-center">
                    <mat-card-content>
                        <div class="flip-box">
                            <div class="flip-box-inner">
                                <div class="flip-box-front">
                                    <h2>CBSE</h2>
                                    <p>What an amazing city</p>
                                </div>
                                <div class="flip-box-back">
                                    <h2>Paris</h2>
                                    <p>What an amazing city</p>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="33">
                <mat-card class="question-card text-center">
                    <mat-card-content>
                        <div class="flip-box">
                            <div class="flip-box-inner">
                                <div class="flip-box-front">
                                    <h2>CBSE</h2>
                                    <p>What an amazing city</p>
                                </div>
                                <div class="flip-box-back">
                                    <h2>Paris</h2>
                                    <p>What an amazing city</p>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
</div>