<p>
    home-tuition-bangalore works!
</p>
<p *ngIf="data" style="margin-top: 5em;color: #000000;">
    {{data.description}}<br> {{data.title}}
    <br> {{data.t1}}<br> {{data.t1Url}}<br>{{data.t1Desp}}
    <br> {{data.t2}}<br> {{data.t2Url}}<br>{{data.t2Desp}}
    <br> {{data.t3}}<br> {{data.t3Url}}<br>{{data.t3Desp}}
    <br> {{data.t4}}<br> {{data.t4Url}}<br>{{data.t4Desp}}
    <br> {{data.t5}}<br> {{data.t5Url}}<br>{{data.t51Desp}}
    <br> {{data.t6}}<br> {{data.t6Url}}<br>{{data.t6Desp}}
    <br> {{data.t7}}<br> {{data.t7Url}}<br>{{data.t7Desp}}
    <br> {{data.t8}}<br> {{data.t8Url}}<br>{{data.t8Desp}}
    <br> {{data.t9}}<br> {{data.t9Url}}<br>{{data.t9Desp}}
    <br> {{data.t10}}<br> {{data.t10Url}}<br>{{data.t10Desp}}
    <br> {{data.t11}}<br> {{data.t11Url}}<br>{{data.t11Desp}}
</p>