<app-banner-seo [imgUrl]="imgUrl" [title]="textTitle" [city]="city"></app-banner-seo>
<div class="p-1">
    <div fxLayout="{{imgWidth}}" fxLayoutWrap="wrap" class="mt-1">
        <div fxFlex="100" fxFlex.gt-xs="5"></div>
        <div fxFlex="100" fxFlex.gt-xs="90">
            <mat-card class="mb-1">
                <mat-card-title>Home tuition in bangalore</mat-card-title>
                <mat-card-content>
                    <p class="text-justify">
                        Are you searching for home tuition in Bangalore? <br><br>
                        <li class="text">Csquare Education is the right platform for you to connect you with the best private tutor to provide the excellent guidance and education to fulfil your need and requirement. We have expertise in offering home and private tuition
                            for all classes along with private tuitions for competitive examinations too. </li>
                        <li class="text">Our services are offered for the whole city. Our main goal is to provide the high quality and effective tutoring so that students show the improvement in their grades in the result. </li>
                        <li class="text">We provide the best private tuition experiences to the parents and kids by providing the experienced as well as reliable home tuition faculty. Csquare Education is the one stop solution for all your problems.</li>
                        <li class="text">We excel in offering home tuitions for all subjects at your convenient timings. We help parents and students in finding the best home tutor who can guide and teach the students at their home only.</li>
                        <li class="text">Guidance in education is very important as students sometime so not understand which is best for them to help in their studies. In schools, students sometimes hesitate to ask questions. But at the home tuition in their home environment,
                            they don’t feel shy at all and they just clear all their doubts easily.</li>
                        <li class="text">Csquare Education has excellence in home tuition as we provide only highly skilled home tutors who have qualification along with the experience and of course passion for teaching.</li>
                        <li class="text">We provide a wide array of options for the parents and students to select the required home tutor as per their convenience.</li>
                        <li class="text">You will be glad to know that providing tuition is not only single aim of our online portal but to enhance the performance of kids in the class and result is our mission.</li>
                        <li class="text">To get success in our mission, we keep the track of performance of not only but also keep an eye on the performance of home tutor in Bangalore. Each and every private tutor is monitored weekly and monthly.</li>
                    </p>
                </mat-card-content>
            </mat-card>
            <div>
                <h1 class="title test-center" *ngIf="isMobile == false && isBrowser == true">Take a tour of how it works?</h1>
                <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="isMobile == false && isBrowser == true">
                    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
                    <div fxFlex="100" fxFlex.gt-xs="80">
                        <app-tour></app-tour>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
                </div>
            </div>
            <mat-card class="mb-1">
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab label="Services in bangalore">
                            <app-menu></app-menu>
                        </mat-tab>
                        <mat-tab label="Customer's review in bangalore">
                            <div #tab2 class="mt-1">
                                <div *ngFor="let item of data" fxLayout="{{imgWidth}}" fxLayoutWrap="wrap" class="pt-1">
                                    <div fxFlex="100" fxFlex.gt-xs="5"></div>
                                    <div fxFlex="100" fxFlex.gt-xs="20" class="text-center">
                                        <img src="{{item.url}}" class="review-img">
                                    </div>
                                    <div fxFlex="100" fxFlex.gt-xs="10" class="text-center">
                                        <h4>{{item.name}}</h4>
                                        <h4>Experience: {{item.exp}}</h4>
                                        <div class="star mb-1">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                        </div>
                                        <a href="tel:+91-78-9934-2386"><i class="fa fa-phone-square fa-2x secondary-color" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                        <a href="mailto:csquarebangalore@gmail.com"><i class="fa fa-envelope fa-2x secondary-color" aria-hidden="true"></i></a>
                                    </div>
                                    <div fxFlex="100" fxFlex.gt-xs="5"></div>
                                    <div fxFlex="100" fxFlex.gt-xs="55">
                                        <div id="talkbubble">
                                            <p style="text-align:justify;"> {{item.desp}}</p>
                                        </div>
                                    </div>
                                    <div fxFlex="100" fxFlex.gt-xs="5"></div>
                                    <mat-divider></mat-divider>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Frequently asked questions">
                            <div #tab3>
                                <div fxLayout="row" fxLayoutWrap="wrap" class="mb-1">
                                    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
                                    <div fxFlex="100" fxFlex.gt-xs="80">
                                        <h1 class="title text-center">Frequently Asked Questions?</h1>
                                        <div fxLayout="row" fxLayoutWrap="wrap">
                                            <div fxFlex="100" fxFlex.gt-xs="30" class="mobile-view"></div>
                                            <div fxFlex="100" fxFlex.gt-xs="40">
                                                <mat-form-field class="full-width">
                                                    <input matInput placeholder="Please Enter Your Question!" [(ngModel)]="search" (input)="valuechange()">
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex="100" fxFlex.gt-xs="30" class="mobile-view"></div>
                                        </div>
                                        <mat-accordion *ngFor="let item of faqList; let i = index" [attr.data-index]="i">
                                            <mat-expansion-panel *ngIf="i <= 49" class="mb-1" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        <h5>{{item.Question}}</h5>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>

                                                <p style="text-align: justify;">
                                                    {{item.Answer}}
                                                </p>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="5"></div>
    </div>
</div>
<!-- <div fxLayout="{{imgWidth}}" fxLayoutWrap="wrap" class="p-1">
    <div fxFlex="100" fxFlex.gt-xs="5"></div>
    <div fxFlex="100" fxFlex.gt-xs="90">
        <mat-card>
            <mat-card-content>
                <div fxLayout="{{imgWidth}}" fxLayoutWrap="wrap">
                    <div fxFlex="100" fxFlex.gt-xs="33">
                        <h4 class="text-center">Home tuition in bangalore location wise</h4>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="33">
                        <h4 class="text-center">Home tuition in bangalore location wise</h4>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="33">
                        <h4 class="text-center">Home tuition in bangalore location wise</h4>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="5"></div>
</div> -->
<div id="tab_2">
    <div *ngFor="let item of data" fxLayout="{{imgWidth}}" fxLayoutWrap="wrap" class="pt-1 mt-1">
        <div fxFlex="100" fxFlex.gt-xs="5"></div>
        <div fxFlex="100" fxFlex.gt-xs="20" class="text-center">
            <img src="{{item.url}}" class="review-img">
        </div>
        <div fxFlex="100" fxFlex.gt-xs="10" class="text-center">
            <h4>{{item.name}}</h4>
            <h4>Experience: {{item.exp}}</h4>
            <div class="star mb-1">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <a href="tel:+91-78-9934-2386"><i class="fa fa-phone-square fa-2x secondary-color" aria-hidden="true"></i></a>&nbsp;&nbsp;
            <a href="mailto:csquarebangalore@gmail.com"><i class="fa fa-envelope fa-2x secondary-color" aria-hidden="true"></i></a>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="5"></div>
        <div fxFlex="100" fxFlex.gt-xs="55">
            <div id="talkbubble">
                <p style="text-align:justify;"> {{item.desp}}</p>
            </div>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="5"></div>
        <mat-divider></mat-divider>
    </div>
</div>
<div id="tab_3">
    <div *ngFor="let item of faqList; let i = index" [attr.data-index]="i">
        <p>
            {{item.Question}}
        </p>
        <p>
            {{item.Answer}}
        </p>
    </div>
</div>