<app-banner-top [imgUrl]="imgUrl" [textTitle]="textTitle"></app-banner-top>
<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
    <div fxFlex="100" fxFlex.gt-xs="80">
        <mat-card>
            <mat-card-content>
                <h4 class="text-justify">This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information
                    that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect,
                    use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</h4>
                <mat-accordion>
                    <mat-expansion-panel expanded="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What personal information do we collect from the people that visit our blog, website or app?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, phone number, Address or other details to help you with your experience.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                When do we collect information?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        We collect information from you when you register on our site, respond to a survey, fill out a form, Use Live Chat or enter information on our site.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How do we use your information?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
                        <ul>
                            <li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
                            <li>To improve our website in order to better serve you.</li>
                            <li>To allow us to better service you in responding to your customer service requests.</li>
                            <li>To administer a contest, promotion, survey or other site feature.</li>
                            <li>To ask for ratings and reviews of services or products.</li>
                            <li>To follow up with them after correspondence (live chat, email or phone inquiries).</li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How do we protect your information?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible. We use regular Malware Scanning. Your personal information is contained behind secured networks and is
                        only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure
                        Socket Layer (SSL) technology. We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information. All transactions are processed through a
                        gateway provider and are not stored or processed on our servers. </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Do we use 'cookies'?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        We do not use cookies for tracking purposes You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look
                        at your browser's Help Menu to learn the correct way to modify your cookies. If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.that make your site experience more
                        efficient and may not function properly.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Third-party disclosure
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website,
                        conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies,
                        or protect ours or others' rights, property or safety.However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Third-party links
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities
                        of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Google
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en We use Google AdSense Advertising on
                        our website.Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users
                        may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                We have implemented the following:
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul>
                            <li>Google Display Network Impression Reporting</li>
                            <li>Demographics and Interests Reporting</li>
                        </ul>
                        <p>We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data
                            regarding user interactions with ad impressions and other ad service functions as they relate to our website.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Opting out
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out Browser add on.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                California Online Privacy Protection Act
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world)
                        that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies
                        with whom it is being shared. - See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                According to CalOPPA, we agree to the following:
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        Users can visit our site anonymously. Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website. Our Privacy Policy link includes the word 'Privacy' and can
                        easily be found on the page specified above. You will be notified of any Privacy Policy changes:
                        <li>On our Privacy Policy Page</li>
                        Can change your personal information:
                        <li>By emailing us</li>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How does our site handle Do Not Track signals?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                COPPA (Children Online Privacy Protection Act)
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency,
                        enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online. We do not specifically market to children under the age of 13 years old. Do we let
                        third-parties, including ad networks or plug-ins collect PII from children under 13?
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Fair Information Practices
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information
                        Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        We will notify you via email
                        <li>Within 7 business days</li>
                        We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals
                        have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                CAN SPAM Act
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                We collect your email address in order to:
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <li>Send information, respond to inquiries, and/or other requests or questions.</li>
                        <li>Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.</li>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                To be in accordance with CANSPAM, we agree to the following:
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        Not use false or misleading subjects or email addresses.
                        <ul>
                            <li>Identify the message as an advertisement in some reasonable way.</li>
                            <li>Include the physical address of our business or site headquarters.</li>
                            <li>Monitor third-party email marketing services for compliance, if one is used.</li>
                            <li>Honor opt-out/unsubscribe requests quickly.</li>
                            <li>Allow users to unsubscribe by using the link at the bottom of each email.</li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                If at any time you would like to unsubscribe from receiving future emails, you can email us at
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <li>Follow the instructions at the bottom of each email. and we will promptly remove you from ALL correspondence.</li>
                        <h4>Contacting Us</h4>
                        If there are any questions regarding this privacy policy, you may contact us using the information below. <br> https://www.csquareeducation.com <br> Csquare, Ground floor Novel Business Center - BTM Layout Branch <br> Bangalore,
                        Karnataka 560068 <br> India <br> csquarebangalore@gmail.com <br> 080-41627767
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
</div>