<app-banner></app-banner>
<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-md="50" fxFlex.gt-xs="25" class="mt-1">
        <div class="icon-holder">
            <mat-icon class="icon-holder-img">wc</mat-icon>
        </div>
        <h5 class="text-center">
            Best Home Tutor or Private Tutors
        </h5>
        <div class="description">
            We provide best and highly qualified tursted tutors. With minimum 5 years experience.
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="50" fxFlex.gt-xs="25" class="mt-1">
        <div class="icon-holder">
            <mat-icon class="icon-holder-img">face</mat-icon>
        </div>
        <h5 class="text-center">
            Adaptive & "Menu" Teaching
        </h5>
        <div class="description">
            Kids like having choices. And we deliver teaching based on studetn's learning pace.
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="50" fxFlex.gt-xs="25" class="mt-1">
        <div class="icon-holder">
            <mat-icon class="icon-holder-img">lock</mat-icon>
        </div>
        <h5 class="text-center">
            Easy, Safe and Convenient
        </h5>
        <div class="description">
            It's very easy to get tutor and it's safe as classes are conducted at your door step.
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="50" fxFlex.gt-xs="25" class="mt-1">
        <div class="icon-holder">
            <mat-icon class="icon-holder-img">wc</mat-icon>
        </div>
        <h5 class="text-center">
            Proper Monitoring of Tutor and Classes
        </h5>
        <div class="description">
            Get weekly and monthly status of student through our application and monitor student's progress.
        </div>
    </div>
</div>
<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex="100" class="mobile-view">
        <h1 class="title">CsquareEducation India's Leading Home Tuition Provider</h1>
        <div fxLayout="wrap" fxLayoutWrap="wrap">
            <div fxFlex="100" fxFlex.gt-xs="10"></div>
            <div fxFlex="100" fxFlex.gt-xs="30">
                <div class="description" style="margin-top:20%; text-align: justify;">
                    Your choice makes a huge difference both on your expenditure and your child's future. If you make a right choice now it will have great impact on both your saving's as well as development of you child. Choose wisely from options available. As it's your
                    money and your childern's future.
                    <ul class="list-graph">
                        <li>Wisely choosing Home Tuition service provider makes a huge difference.</li>
                        <li>Teacher's play a vital role in your childern's overall development.</li>
                        <li>Tracking of your children progress help's you in taking appropriate decisions.</li>
                        <li>And lastly CsquareEducation believes in modern education by not cutting down jungles rather irrigating deserts.</li>
                    </ul>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="3"></div>
            <div fxFlex="100" fxFlex.gt-xs="47">
                <h5 class="text-center">
                    Average tuition cost since 1980 in $ (Source: National Center Of Education Statistics)
                </h5>
                <canvas *ngIf="testBrowser == true" class="chart" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="10"></div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex="100" fxFlex.gt-xs="10"></div>
            <div fxFlex="100" fxFlex.gt-xs="27" class="text-center mt-1 pt-1 pb-1">
                <h5>Total requirement's till date</h5>
                <div class="patch">
                    <h6 class="punch text-center">10,000 +</h6>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="27" class="text-center mt-1 pt-1 pb-1">
                <h5>Total trainers & tutors</h5>
                <div class="patch">
                    <h6 class="punch text-center">6,000 +</h6>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="27" class="text-center mt-1 pt-1 pb-1">
                <h5>Total reviews (including google)</h5>
                <div class="patch">
                    <h6 class="punch text-center">5,000 +</h6>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="10"></div>
        </div>
    </div>
</div>
<div fxLayout="row" fxLayoutWrap="wrap" class="blue mt-1 mb-1 ">
    <div fxFlex="100">
        <h1 class="text-center" style="padding-top: 1.5em;">Services we offer!</h1>
        <div fxLayout="row" fxLayoutwrap="wrap">
            <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
            <div fxFlex="100" fxFlex.gt-xs="80">
                <div fxLayout="row" fxLayoutwrap="wrap">
                    <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1 mobile-service">
                        <div class="pb-1">
                            <mat-card class="mat-card-left">
                                <mat-card-content class="p-0">
                                    <img src="assets/images/home_tuition.jpg" class="card-img">
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="pb-1 service-divider">
                            <h6 class="punch text-center">Home tutor or private tutor jobs</h6>
                            <p class="para">A perfect and best quality of a successful tutor is when he/she is able to communicate with their students and able to grab their attention towards studies. The supreme art of a best tutor is to awaken the inbuilt knowledge
                                of and creative skills from students. In Csquareeducation we believe that our secret of success and tremendous growth is just because of tremendous efforts, dedication as well as hard work from our faculties members. Csquareeducation
                                always provide a best and wide opportunity and a convenient environment to our tutors.
                            </p>
                            <div *ngIf="show2 == true">
                                <p class="para">Only because of a best tutor, students will able to concentrate on their studies without distracting their mind on other activities. Hence best tutor is required to achieve any kind of achievements from students. We are
                                    offering both part time as well as full time tutor jobs. We consider our tutors as our own members and are asset for Csquareeducation.
                                </p>
                            </div>
                            <p style="text-align:center!important;color: #000;" class="para" (click)="changeButton2()">
                                {{readMore2}}
                                <i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="pb-1 service-divider">
                            <mat-card class="mat-card-left">
                                <mat-card-content class="p-0">
                                    <img src="assets/images/online_edu.jpg" class="card-img">
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                        <div class="pb-1">
                            <h6 class="punch text-center">Home tuition or private tuition at door step</h6>
                            <p class="para">Are you looking for best home tuition for your children? So you are at a right place to choose a perfect home tuition for your kid. Selecting a best home tutor for your kids is bit tricky task and involves lot and lots of research
                                and time as well. So in this type of situation Csquareeducation will play a major role. In Csquareeducation we will provide every possible support and guidance to parents, students as well as home tutors. This is one of
                                the best as well as unique online portal which will provides wide opportunities to students and parents in order to select their best and required home tutor for their development.

                            </p>
                            <div *ngIf="show1 == true">
                                <p class="para">Csquareeducation is one of the perfect web portal which provides best as well as professionally experienced home tutor. In Csquareeducation our tutors are highly skilled with well experienced in their related qualifications.
                                    In Csquareeducation all tutor’s performance gets monitored every week and every month by a well defined professional team. Csquareeducation, not only monitors the tutor’s performance but we will also help students who
                                    have registered with us, we will provide all kinds of possible help for his/her academic growth as well as social growth.
                                </p>
                            </div>
                            <p style="text-align:center!important;color: #000;" class="para" (click)="changeButton1()">
                                {{readMore1}}
                                <i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="pb-1 service-divider">
                            <mat-card class="mat-card-right">
                                <mat-card-content>
                                    <img src="assets/images/home_tutor.jpg" class="card-img">
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="pb-1 service-divider">
                            <h6 class="punch text-center">Online tuition and study material</h6>
                            <p class="para">As tremendous increase in technology day by day, Internet has brought a wonderful vibrant changes in all sectors, particularly in the academic world. Now-a-days students are opting to do all their education related activities
                                through internet, which includes, solving question papers, doing online projects, attending online classes etc. So technology has made very easy for the students to provide all the education related information within short
                                time. So it is now possible for every students and learners to learn, know about information and receive instructions, anywhere and at their own convenient timings through e-learning classes.
                            </p>
                            <div *ngIf="show3 == true">
                                <p class="para">There are lot of benefits with this online classes or e-learning classes. Particularly these sort of classes are used for the students who are working part-time or full-time & busy working professionals, who can’t spend
                                    enough time or separate time to attend regular classes or spending extra time to go for a coaching center. For those student’s online tuition or online classes were one of the perfect solution.
                                </p>
                            </div>
                            <p style="text-align:center!important;color: #000;" class="para" (click)="changeButton3()">
                                {{readMore3}}
                                <i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
        </div>
    </div>
</div>
<div id="picDis" fxLayout="row" fxLayoutWrap="wrap" class="tesimonials" style="margin-bottom: 4em;">
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
    <div fxFlex="100" fxFlex.gt-xs="80">
        <h1 class="title text-center">Testimonials</h1>
        <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex="100" fxFlex.gt-xs="25" class="mobile-view">
                <div class="pb-1">
                    <img (click)="imageclick('1')" class="review img-1" src="assets/tutor-parents/Nitesh.jpg">
                </div>

                <div class="pb-1">
                    <img (click)="imageclick('2')" class="review img-2" src="assets/tutor-parents/sinchana.jpg">
                </div>

                <div class="pb-1">
                    <img (click)="imageclick('4')" class="review img-4" src="assets/tutor-parents/RahulSublime.jpg">
                </div>

                <div class="pb-1">
                    <img (click)="imageclick('6')" class="review img-6" src="assets/tutor-parents/Vinay.jpg">
                </div>

                <div class="pb-1">
                    <img (click)="imageclick('8')" class="review img-8" src="assets/tutor-parents/vidya.jpg">
                </div>

                <div class="pb-1">
                    <img (click)="imageclick('10')" class="review img-10" src="assets/tutor-parents/Anuj.jpg">
                </div>

            </div>

            <div fxFlex="100" fxFlex.gt-xs="50">
                <ngu-carousel [inputs]="carouselOne" *ngIf="slideShow == true">
                    <ngu-item NguCarouselItem *ngFor="let item of userList">
                        <div class="mt-1 pb-1 text-center">
                            <img class="review main-img" src="{{item.imgSrc}}">
                        </div>
                        <div class="mt-1 text-center">
                            <div class="description">
                                {{item.description}}
                            </div>
                        </div>
                        <div class="pb-1 text-center">
                            <h5 class="p-0">
                                {{item.name}}
                            </h5>
                            <p class="sub-title">
                                {{item.type}}
                            </p>
                        </div>
                        <div class="pb-1 text-center">
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                        </div>
                    </ngu-item>
                    <button NguCarouselPrev class='leftRs'>Previous</button>
                    <button NguCarouselNext class='rightRs'>Next</button>
                </ngu-carousel>
                <div *ngIf="slideShow == false">
                    <div class="mt-1 pb-1 text-center">
                        <img class="review main-img" src="{{imgSrc}}">
                    </div>
                    <div class="mt-1 text-center">
                        <div class="description">
                            {{description}}
                        </div>
                    </div>
                    <div class="pb-1 text-center">
                        <h5 class="p-0">
                            {{name}}
                        </h5>
                        <p class="sub-title">
                            {{type}}
                        </p>
                    </div>
                    <div class="pb-1 text-center">
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="25" style="text-align: right" class="mobile-view">
                <div class="pb-1">
                    <img (click)="imageclick('12')" class="review img-12" src="assets/tutor-parents/pradeep.jpg">
                </div>

                <div class="pb-1">
                    <img (click)="imageclick('3')" class="review img-3" src="assets/tutor-parents/apoorva.jpg">
                </div>

                <div class="pb-1">
                    <img (click)="imageclick('5')" class="review img-5" src="assets/tutor-parents/anil.jpg">
                </div>

                <div class="pb-1">
                    <img (click)="imageclick('7')" class="review img-7" src="assets/tutor-parents/Rajesh.jpg">
                </div>

                <div class="pb-1">
                    <img (click)="imageclick('9')" class="review img-9" src="assets/tutor-parents/Ujwal.jpg">
                </div>

                <div class="pb-1">
                    <img (click)="imageclick('11')" class="review img-11" src="assets/tutor-parents/Viky.jpg">
                </div>

            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
</div>
<app-faq></app-faq>
<div fxLayout="row" fxLayoutWrap="wrap" class="mt-1" style="margin-top: 6em;">
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
    <div fxFlex="100" fxFlex.gt-xs="80">
        <h1 class="title text-center">CsquareEducation In Media</h1>
        <ngu-carousel [inputs]="carouselTile" (initData)="initDataFn($event)">

            <ngu-tile NguCarouselItem *ngFor="let item of carouselTileItems" style="padding: 5px;">
                <img src="{{item}}" class="media">
            </ngu-tile>

            <button NguCarouselPrev class='leftRs'>&lt;</button>
            <button NguCarouselNext class='rightRs'>&gt;</button>
        </ngu-carousel>
    </div>
    <div fxFlex="100" fxFlex.gt-xs="10" class="mobile-view"></div>
</div>