.service-divider {
    margin-top: 6em;
}

.main-img {
    width: 150px;
    height: 150px;
}

.img-1 {
    width: 60px;
    height: 60px;
}

.img-2 {
    width: 60px;
    height: 60px;
    margin-top: 15%;
    margin-left: 40%;
}

.img-3 {
    width: 70px;
    height: 70px;
    margin-top: 5%;
    margin-right: 20%;
}

.img-4 {
    width: 90px;
    height: 90px;
    margin-top: -5%;
    margin-right: 10%;
}

.img-5 {
    width: 50px;
    width: 50px;
    margin-right: 50%;
    margin-top: -10%;
}

.img-6 {
    width: 50px;
    width: 50px;
    margin-top: -15%;
    margin-left: 30%;
}

.img-7 {
    margin-top: 5%;
    margin-right: 20%;
    width: 50px;
    width: 50px;
}

.img-8 {
    width: 40px;
    height: 40px;
    margin-top: -35%;
    margin-left: 55%;
}

.img-9 {
    width: 90px;
    height: 90px;
    margin-right: 60%;
    margin-top: -10%;
}

.img-10 {
    width: 80px;
    height: 80px;
    margin-top: 15%;
    margin-left: 30%;
}

.img-11 {
    width: 70px;
    height: 70px;
    margin-top: 5%;
    margin-right: 20%;
}

.img-12 {
    width: 60px;
    height: 60px;
}

.chart {
    /* transform: rotate(-10deg); */
    margin-top: 2em;
}

li {
    padding-top: 1em;
}

.leftRs {
    display: none!important;
}

.rightRs {
    display: none!important;
}

.media {
    width: 285px;
    height: 105px;
}

@media screen and (max-width: 600px) {
    .media {
        width: 100px;
        height: 80px;
    }
}