<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex="100" class="footer theme-light">
        <img data-src="assets/images/border.png" width="100%" class="footer-img">
        <div fxLayout="{{row}}" fxLayoutAlign="space-evenly" class="mt-1">
            <div fxFlex="100" fxFlex.gt-xs="25">
                <ul class="footer-link">
                    <li routerLinkActive="active">
                        <a [routerLink]="['/home']">Home</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/about']">Our Story</a>
                    </li>
                    <!-- <li routerLinkActive="active">
                        <a [routerLink]="['/media']">Media</a>
                    </li> -->
                    <li routerLinkActive="active">
                        <a [routerLink]="['/terms']">Terms</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://csquareeducation.co.in/blog/">Blog</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/question']">CBSE Question</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/bangalore']" target="_blank">Home Tuitions</a>
                    </li>
                </ul>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="25">
                <ul class="footer-link">
                    <li routerLinkActive="active">
                        <a [routerLink]="['/question']">ICSE Question</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/privacy']">Privacy Policy</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/contact']">Conatct Us</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/tutors-review']">Tutors Review</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/parents-review']">Parents Review</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/careers']">Careers</a>
                    </li>
                    <!-- <li routerLinkActive="active">
                        <a [routerLink]="['../../bangalore']" target="_blank">Home Tutors</a>
                    </li> -->
                </ul>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="25" class="mobile-view">
                <ul class="footer-link">
                    <li routerLinkActive="active">
                        <a [routerLink]="['../../bangalore/home-tutors-private-tutors/Subjects-wise-best-private-home-tutor/Maths']" target="_blank">Maths Tutors Bangalore</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['../../bangalore/home-tutors-private-tutors/Subjects-wise-best-private-home-tutor/Science']" target="_blank">Science Tutors Bangalore</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['../../bangalore/home-tutors-private-tutors/Subjects-wise-best-private-home-tutor/Physics']" target="_blank">Physics Tutors Bangalore</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['../../bangalore/home-tutors-private-tutors/Subjects-wise-best-private-home-tutor/Chemistry']" target="_blank">Chemistry Tutors Bangalore</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['../../bangalore/home-tutors-private-tutors/Subjects-wise-best-private-home-tutor/Hindi']" target="_blank">Hindi Tutors Bangalore</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['../../bangalore/home-tutors-private-tutors/Subjects-wise-best-private-home-tutor/English']" target="_blank">English Tutors Bangalore</a>
                    </li>
                    <!-- <li routerLinkActive="active">
                        <a [routerLink]="['../../bangalore']" target="_blank">Private Tuition</a>
                    </li> -->
                </ul>
            </div>
            <div fxFlex="100" fxFlex.gt-xs="25" class="mobile-view">
                <ul class="footer-link">
                    <li routerLinkActive="active">
                        <a [routerLink]="['../../bangalore/home-tutors-private-tutors/Class-wise-best-private-home-tutor/Class1']" target="_blank">Class I-V Tuition Bangalore</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['../../bangalore/home-tutors-private-tutors/Class-wise-best-private-home-tutor/Class6']" target="_blank">Class VI-VIII Tuition Bangalore</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['../../bangalore/home-tutors-private-tutors/Class-wise-best-private-home-tutor/Class9']" target="_blank">Class IX Tuition Bangalore</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['../../bangalore/home-tutors-private-tutors/Class-wise-best-private-home-tutor/Class10']" target="_blank">Class X Tuition Bangalore</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['../../bangalore/home-tutors-private-tutors/Class-wise-best-private-home-tutor/Class_11_Science']" target="_blank">Class XI Tuition Bangalore</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['../../bangalore/home-tutors-private-tutors/Class-wise-best-private-home-tutor/Class_12_Science']" target="_blank">Class XII Tuition Bangalore</a>
                    </li>
                    <!-- <li routerLinkActive="active">
                        <a [routerLink]="['../../bangalore']" target="_blank">Private Tutors</a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex="100" class="text-center">
                <h4 class="footer-text">Like us On:
                    <a href="https://www.facebook.com/csquareeducation/" class="social" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <!-- Google+ -->
                    <a href="https://plus.google.com/u/0/" class="social" target="_blank">
                        <i class="fa fa-google" aria-hidden="true"></i>
                    </a>
                    <!-- Twitter -->
                    <a href="https://twitter.com/CsquareEduc" class="social" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <!-- LinkedIn -->
                    <a href="https://www.linkedin.com/company/18399522/" class="social" target="_blank">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </h4>
            </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex="100" class="text-center">
                <span class="copyright">
                  © {{test | date: 'yyyy'}}, made with
                  <i class="fa fa-heart heart"></i> by CsquareEducation
              </span>
            </div>
        </div>
    </div>
</div>